<header class="header">
    <div class="logo">
        <h1>GABHoot</h1> <!-- Logotipo ou nome da página -->
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/home">Início</a></li>
            <!-- Adicione mais links aqui, se necessário -->
        </ul>
    </nav>
</header>