.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.alert-success {
    background-color: var(--success-background);
    color: var(--success-text);
}

.alert-danger {
    background-color: var(--danger-background);
    color: var(--danger-text);
}

/* Feedback */
.alert.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 4px var(--shadow-light);
}

.feedback.correct {
    color: var(--success-text);
    background-color: var(--success-background);
    border: 1px solid #c3e6cb;
}

.feedback.incorrect {
    color: var(--danger-text);
    background-color: var(--danger-background);
    border: 1px solid #f5c6cb;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
