
/* Contêiner principal que vai envolver as metades */
.home-container {
    display: flex;             /* Aplica o Flexbox */     
}

.centro-home-container {
    position: absolute;        /* Coloca o contêiner sobre as metades */
    top: 100%;                  /* Centraliza o contêiner no meio da tela */
    left: 100%;                 /* Centraliza o contêiner no meio da tela */
    width: 100%;              /* Largura do contêiner central */
    height: 100%;             /* Altura do contêiner central */
    background-color: rgba(255, 255, 255); /* Cor de fundo com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centro-home-container h1{
    font-size:10em;
}

.botao-home {
    padding: 20px 40px;        /* Espaçamento interno do botão */
    font-size: 3em;            /* Tamanho da fonte do botão */
    background-color: #ffffff;    /* Cor de fundo do botão */
    border: none;              /* Remove a borda padrão */
    border-radius: 5px;        /* Bordas arredondadas */
    cursor: pointer;           /* Cursor de ponteiro ao passar sobre o botão */
}

.botao-home:hover {
    background-color: #ddd;    /* Cor de fundo ao passar o mouse */
}
