html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body ocupe toda a tela */
    overflow: hidden; /* Remove barras de rolagem indesejadas */
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
}

.metade-home-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.home-superior {
    background-color: #01438a;
}

.home-inferior {
    background-color: #286aa7;
}

.centro-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 30px; 
    flex-shrink: 0;
    height: 12%;
}

.centro-home-container h1 {
    font-size: clamp(3em, 5vw, 6em); 
    margin: 0;
}

.botao-home {
    padding: 15px 30px;
    font-size: clamp(1.5em, 3vw, 2em);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-home:hover {
    background-color: #ddd;
}
