
/* Contêiner principal que vai envolver as metades */
.home-container {
    display: flex;             /* Aplica o Flexbox */
    height: 100vh;
    width: 100vw;             
}

.center-container {
    position: absolute;        /* Coloca o contêiner sobre as metades */
    top: 0;
    left: 50%;                 /* Centraliza o contêiner no meio da tela */
    transform: translateX(-50%); /* Ajuste para garantir que o contêiner fique exatamente no meio */
    width: 200px;              /* Largura do contêiner central */
    height: 100%;              /* O contêiner ocupará 100% da altura da tela */
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cada metade ocupará 50% da largura da tela */
.half-container {
    width: 50%;                /* Cada metade ocupa 50% da largura */
    height: 100%;              /* Cada metade ocupa 100% da altura */
    display: flex;             /* Aplica o Flexbox dentro de cada metade */
    justify-content: center;   /* Centraliza o conteúdo horizontalmente */
    align-items: center;       /* Centraliza o conteúdo verticalmente */
    text-align: center;        /* Centraliza o texto dentro de cada metade */
}

/* Primeira metade da tela com fundo azul */
.left {
    background-color: #007bff;
}

/* Segunda metade da tela com fundo verde */
.right {
    background-color: #28a745;
}

 .circle-shape {  
    width: 100px;               /* Largura do círculo */
    height: 100px;              /* Altura do círculo */
    background-color: #007bff;  /* Cor de fundo */
    border-radius: 50%;         /* Torna a forma circular */
    margin: 20px auto;          /* Espaço ao redor e centralização */
}