body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.half-container {
    flex: 1;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-container.superior {
    background-color: var(--primary-color);
    color: var(--background-light);
    text-align: center;
    font-size: 0.9em;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.half-container.inferior {
    background-color: var(--secondary-color);
    color: var(--background-light);
    text-align: center;
    font-size: 0.9em;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.central-banner {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(var(--background-light), 1); 
    color: var(--primary-color);
    text-align: center;
    font-size: 4vw;  
    font-weight: bold;
    box-shadow: 0 4px 6px var(--shadow-light);
}

@media (max-width: 600px) {
    .central-banner {
        font-size: 6vw;  
        padding: 10px 0;
    }
}

/* Ajustes para telas médias */
@media (max-width: 1024px) {
    .central-banner {
        font-size: 4vw; 
    }
}