
*, *::before, *::after {
    box-sizing: border-box;
  }
  

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
  }

  #root, #__next {
    isolation: isolate;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}