.sala-view .half-container.inferior .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

.sala-view .input-group,
.sala-view .select-container {
    width: 100%;
    max-width: 500px; 
    text-align: left; 
}

.sala-view .input-group input,
.sala-view .select-container select {
    width: 100%; 
}