/* Container principal */
.sala-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
}

/* Metades do layout */
.metade-sala-container {
    width: 100%;
    flex: 1; /* Cada metade ocupa metade da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sala-superior {
    background-color: #01438a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-jogadores-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Contêiner central */
.centro-sala-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.centro-sala-container h1 {
    font-size: clamp(3em, 5vw, 6em);
    color: #000000;
    margin: 0;
}

/* Parte inferior */
.metade-sala-container.sala-inferior {
    background-color: #286aa7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre os elementos */
}

.botoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; /* Aumenta o espaçamento entre os elementos */
    width: 100%;
    max-width: 600px; /* Define uma largura máxima */
    text-align: center;
}

.filtro-label {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.campos-quiz-container {
    display: flex;
    gap: 20px; /* Define um espaçamento maior entre os campos */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campos-quiz-container input,
.campos-quiz-container select {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 300px; /* Evita que os campos fiquem muito largos */
}

.botao-sala {
    padding: 15px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #ff9800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.botao-sala:hover {
    background-color: #e68900;
}

.botao-sala:active {
    transform: scale(0.95);
}
