<div class="home-container">

    <!-- Metade superior da tela -->
    <div class="metade-home-container home-superior"></div>

    <!-- Contêiner central -->
    <div class="centro-home-container">
        <h1>GABHoot</h1>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-home-container home-inferior">
        <button class="botao-home" onclick="window.location.href='/jogar'">Jogar</button>
        <button class="botao-home" onclick="window.location.href='/admin'">Painel Admin</button>
    </div>

</div>
