<div class="home-container">

    <!-- Metade esquerda da tela -->
    <div class="half-container left">
        <h1>Esquerda</h1>
    </div>

    <!-- Contêiner central sobrepondo as metades -->
    <div class="center-container">
        <div class="circle-shape"></div> <!-- Adicionando o círculo no contêiner central -->
    </div>

    <!-- Metade direita da tela -->
    <div class="half-container right">
        <h1>Direita</h1>
    </div>

</div>