<div class="body-container">
    <div class="half-container superior">
        <div class="container">
            <h2>Bem-vindo(a)!</h2>
        </div>
    </div>

    <!-- Faixa Central -->
    <div class="central-banner">
        GABHoot
    </div>

    <div class="half-container inferior">
        <div class="container">
             <p>Escolha uma das opções abaixo para continuar:</p>
            <button class="button" onclick="window.location.href='/jogar'">Jogar</button>
            <button class="button" onclick="window.location.href='/admin'">Painel Admin</button>
        </div>
    </div>
</div>