<div class="body-container">
    <div class="half-container superior">
    </div>


    <div class="half-container inferior">
        <div class="container">
            <p>Bem-vindo(a) ao GABHoot!</p>
            <button class="button" onclick="window.location.href='/login'">Logar</button>
        </div>
    </div>
</div>

