<div class="inicial-container">

    <!-- Metade superior da tela -->
    <div class="metade-inicial-container inicial-superior">

    </div>

    <!-- Contêiner central sobrepondo as metades -->
    <div class="centro-resultado-container">
        <h1>GABHoot</h1>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-inicial-container inicial-inferior">
        <button class="botao-inicial"onclick="window.location.href='/login'">Logar</button>
    </div>

</div>