<div class="jogar-container">

    <!-- Metade superior da tela -->
    <div class="metade-jogar-container jogar-superior">
        <!-- Conteúdo da metade superior, como o título -->
        <div class="jogar-centro-superior-container">
            <h1>GABHoot</h1>
        </div>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-jogar-container jogar-inferior">
        <div class="jogar-centro-inferior-container">
            <!-- Exibir o nome do jogador automaticamente -->
            <div class="nome-jogador-container">
                <label for="nomeJogador">Nome do Jogador:</label>
                <input type="text" id="nomeJogador" value="{{nomeJogador}}" readonly />
            </div>

            <!-- Botões para Criar Sala e Entrar na Sala -->
            <div class="botao-jogar-container">
                <button id="btnCriarSala" class="botao-sala">Criar Sala</button>
                <button id="btnEntrarSala" class="botao-sala">Entrar na Sala</button>
                <input type="text" id="codigoSala" placeholder="Código da Sala" />
            </div>
        </div>
    </div>

</div>

<script src="/socket/gameSocket.js"></script>
<script>
  const socket = io();

    document.getElementById('btnCriarSala').addEventListener('click', () => {
        const codigoSala = document.getElementById('codigoSala').value;
        if (codigoSala) {
            socket.emit('sala', { codigoSala, userId:123 });
            window.location.href = `/jogar/sala/${codigoSala}`;
        }else{
            console.log('Não foi possivel criar a sala')
        }
    });

    document.getElementById('btnEntrarSala').addEventListener('click', () => {
        const codigoSala = document.getElementById('codigoSala').value;
        if (codigoSala) {
            socket.emit('sala',  { codigoSala, userId:123 });  
            window.location.href = `/jogar/sala/${codigoSala}`;
        }else{
            console.log('Não foi possivel entrar na sala')
        }
    });


</script>
