<div class="jogar-container">

    <!-- Contêiner central sobrepondo as metades -->
    <div class="centro-jogar-container">
        <button class="botao-home"onclick="window.location.href='/jogar'">Jogar</button>
    </div>


</div>