<div class="login-container">

    <!-- Metade superior da tela -->
    <div class="metade-login-container login-superior">

    </div>

    <!-- Contêiner central sobrepondo as metades -->
    <div class="centro-login-container">
        <h1>GABHoot</h1>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-login-container login-inferior">
        <button class="botao-login"onclick="window.location.href='/home'">Logar</button>
    </div>

</div>