<div class="login-container">

    <!-- Metade superior da tela -->
    <div class="metade-login-container login-superior">
        <div class="metade-metade-login-container">
            <h1>GABHoot</h1>
        </div>
    </div>

    <!-- Contêiner central sobrepondo as metades -->
    <div class="login-centro-container">
        <div class="card">
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="input-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" placeholder="Digite seu cpf" required>
                    </div>

                    <div class="input-group">
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                    <button type="submit" class="botao-login">Logar</button>
                    
                </form>
                <button type="button" class="botao-login" onclick="window.location.href='/login/criarconta'">Criar Conta</button>
            </div>
        </div>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-login-container login-inferior">
    </div>

</div>