<div class="resultado-container">

    <div class="centro-resultado-container">
            <h1>GABHoot</h1>
        </div>
    <!-- Metade superior da tela -->
    <div class="metade-resultado-container resultado-superior">

        <h1>Resultado Final</h1>
        <p>Total de acertos: {{acertos}}</p>
        <p>Pontuação: {{tempoTotalRestante}}</p>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-resultado-container resultado-inferior">
        <button class="botao-resultado" id="btnIniciar">Jogar Novamente</button>
        <a href="/home" class="botao-resultado">Voltar para o Início</a>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const usuarioID = "{{usuarioID}}";
    const codigoSala = "{{codigoSala}}";
    
    socket.on('connect', () => {
        console.log(`Conectado com socket ID: ${socket.id}`);
        socket.emit('reconectar',{usuarioID});
    });

    document.getElementById('btnIniciar').addEventListener('click', () => {
        socket.emit('redirecionarSala',{ codigoSala, usuarioID });
    });
  
    socket.on('redirect', (url) => {
         window.location.href = url;
    });

</script>
