<div class="resultado">
    <h1>Resultado Final</h1>
    <p>Total de perguntas respondidas: {{total}}</p>
    <p>Total de acertos: {{acertos}}</p>
    <p>Pontuação: {{tempoTotalRestante}}</p>
</div>
<div class="acoes">
    <a href="/jogar/gabhoot" class="botao">Jogar Novamente</a>
    <a href="/home" class="botao">Voltar para o Início</a>
</div>
