<div class="resultado-container">
    <!-- Metade superior azul -->
    <div class="metade-superior">
        <h1>Resultado Final</h1>
    </div>

     <div class="centro-resultado-container">
    
    </div>

    <!-- Metade inferior -->
    <div class="metade-inferior">
        <div class="resultado-centro-inferior-container">
            <p>Total de perguntas respondidas: {{total}}</p>
            <p>Total de acertos: {{acertos}}</p>
            <p>Pontuação: {{tempoTotalRestante}}</p>
        </div>
        <div class="resultado-actions">
            <a href="/jogar/gabhoot" class="botao-resultado">Jogar Novamente</a>
            <a href="/home" class="botao-resultado">Voltar para o Início</a>
        </div>
    </div>
</div>
