<div class="sala-container">

    <!-- Metade superior da tela -->
    <div class="metade-sala-container sala-superior">
    </div> 

    <!-- Contêiner central sobrepondo as metades -->
    <div class="centro-sala-container">
        <h1>GABHoot</h1>
    </div>

    <!-- Metade inferior da tela -->
    <div class="metade-sala-container sala-inferior">
        <button class="botao-sala" onclick="window.location.href='/jogar'">Voltar</button>
        <button class="botao-sala" onclick="window.location.href='/jogar/gabhoot'">Iniciar</button>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io();


</script>
